Repository Aerodisk/openvair, pull requests merged in 2025-08, with the labels that each got.

#229 Рефакторинг Virtual Machines: перевод на новый UoW и Repository
  openvair/modules/virtual_machines/adapters/orm.py
  openvair/modules/virtual_machines/adapters/repository.py
  openvair/modules/virtual_machines/service_layer/exceptions.py
  openvair/modules/virtual_machines/service_layer/services.py
  openvair/modules/virtual_machines/service_layer/unit_of_work.py
Labels: refactoring, virtual_machine

#242 Doc install update
  install.sh
  openvair/main.py
Labels: documentation

#240 Tests: Backup. Покрытие API модуля тестами
  openvair/modules/backup/entrypoints/api.py
  openvair/modules/backup/tests/__init__.py
  openvair/modules/backup/tests/api/test_create.py
  openvair/modules/backup/tests/api/test_delete.py
  openvair/modules/backup/tests/api/test_get.py
  openvair/modules/backup/tests/api/test_init.py
  openvair/modules/backup/tests/api/test_restore.py
  openvair/modules/backup/tests/conftest.py
Labels: tests, backup

#243 FIX: Virtual Machines. Добавление проверки уникальности дисков, прикрепляемых к ВМ
  openvair/modules/virtual_machines/service_layer/exceptions.py
  openvair/modules/virtual_machines/service_layer/services.py
Labels: fix, virtual_machine

#251 Конкретизация типизации списков, после изменения validate_objects
  openvair/modules/event_store/entrypoints/crud.py
  openvair/modules/image/entrypoints/crud.py
  openvair/modules/storage/entrypoints/crud.py
  openvair/modules/virtual_machines/entrypoints/crud.py
Labels: enhancement
